<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @accomodation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @accomodation.description %>
</p>

<p>
  <b>Price1:</b>
  <%= @accomodation.price1 %>
</p>

<p>
  <b>Price2:</b>
  <%= @accomodation.price2 %>
</p>

<p>
  <b>Price3:</b>
  <%= @accomodation.price3 %>
</p>

<p>
  <b>Price4:</b>
  <%= @accomodation.price4 %>
</p>

<p>
  <b>Price5:</b>
  <%= @accomodation.price5 %>
</p>


<%= link_to 'Edit', edit_accomodation_path(@accomodation) %> |
<%= link_to 'Back', accomodations_path %>
