
<div class="div-title">
  <h3><%= link_to "Find Trips That Will Make You Feel Alive ", about_path %></h3>
</div>

<div class="mid">
 
<h5> Select </h5>
<div class="sidebar">               
  
        <form class="filter_form">
           <%= form_for @search do |f| %>
             <h4> Sports </h4>
       <ul class="check">     
        <% f.collection_checks :categories_id_in, Category.all, :id, :name do |check| %>
         <li> <%= check.box %> <%= check.label %> </li>
         <% end %>
      </ul>  
       
           
            
          <h4> Region </h4>
       <ul class="check">     
        <% f.collection_checks :continent_id_in, Continent.all, :id, :name do |check| %>
         <li> <%= check.box %> <%= check.label %> </li>
         <% end %>
      </ul>     
            
            <%= f.collection_select :location_id_equals, Location.order('country ASC').all, :id, :name, :include_blank => true, :prompt => "All locations" %> 
             
           <%= submit_tag "Let's Roll", :class => "find" %>
           <% end %>
        </form>   
 
 
 
 
 
  <% if signed_in? %>   
   <%= link_to 'New Trip', new_trip_path %>
   <% end %>
          
</div>

<div class="main">

<div class="sort">
    Sort by <%= sort_link @search, :price %> <i>(starting from / price per person)</i>
</div>  

<div class="paginator1">
 
 <%= page_entries_info @trips, :model => '' %>


</div>


<% for trip in @trips %>

<div class="trip">
  <h2><%= link_to trip.title, trip %> </h2>
  <h3><%= trip.location %> </h3>
  <h4><%= trip.categories.map(&:name).to_sentence %> * <%= trip.types.map(&:name).to_sentence %> </h4> 
   
  <p>
   <% thumb_url = trip.thumb_nail_url %>
   <% if thumb_url %>
   <%=  image_tag thumb_url %>
   <% end %>
 </p>
  

<div class="price">
  
  <h5>  <%= trip.price %> </h5> 
  <p>/week </p>
  
</div>

  
<ul>   
    <li><% if signed_in? %> <%= button_to "delete", trip, :method=>:delete, :class=>:destroy %> <% end %> <li>
    <li> <%= link_to "Check it Out", trip, :class => "check_button" %> </li>
</ul>   
  
 
<div style="clear:both;"></div>
</div>  
<% end %>

<br></br>

<div class="paginator2">
    
   <%= will_paginate %>
  
</div>

</div>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>	
	
<div class="hellobar">

<div class="hellobarwrapper">
<!-- Begin MailChimp Signup Form -->

<p> Hey! Sign up and get notified about new trips and updates! </p>
 <div id="mc_embed_signup">
   
   
   <form action="http://thrillengine.us4.list-manage.com/subscribe/post?u=b00a6ce905026bcb1bfd68811&amp;id=ffa803ed98" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="" required>
	<div class="clear"><input type="submit" value="Submit" name="Submit" id="mc-embedded-subscribe" class="news" ></div>  
   </form>
 </div>
  
<!--End mc_embed_signup-->



<div style="top:-23px; left:0px;">
<div class="fb-like" data-href="http://www.facebook.com/pages/Thrill-Engine/199223676806364" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false" data-font="verdana"></div>
</div>
</div>

</div>	

</div>
