<div id="tripshowtop">
 
  <%= link_to '<<< Back to Other Listings', trips_path %> 

    <div style="margin-left:710px;margin-top:-20px; ">
       <% for image in @trip.images.limit(1) %>	
    
        
        <a href="http://pinterest.com/pin/create/button/?media=<%=  image.image.url(:large)  %>&description=<%= @trip.title %> in <%= @trip.location %>" class="pin-it-button" count-layout="none">Pin It</a>
         <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script></li>
        <% end %>
    </div>
   
         <div id="fb-root"></div>
           <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>
                  <div class="fb-like" data-send="true" data-layout="button_count" data-width="10" data-show-faces="false" data-action="recommend" data-font="lucida grande"  ></div> </li>
         
   



</div>

<div class="tripshow">


  <p id="notice"><%= notice %></p>
   <h1> <%= @trip.title %> </h1>
   <p>
     Located in <b><%= @trip.location %> | </b>
     Sports:
     
     <%= @trip.categories.map(&:name).to_sentence %> 
   
     
 - <%= link_to "Read Reviews", '#inline',  :id => 'various1', :class => 'review' %> 
   </p>
  
  
  <div style='display:none'>  
   <div id="inline">
     <% for review in @trip.reviews %> 
  
    <ul>
    <li> <%= review.content %> </li>
    <li> <i> <%= review.name %> </i> </li>
    </ul>
   
     <% end %>  
    </div> 
  </div>

<div class="tripimg"> 

 <div class="availability"> 

<h3> Reserve online </h3>
<p> Lowest price starting from: <p>

<h2> <%= @trip.price %> </h2>

 <p> per person/week <p>
 
 <ul>
  <li> <a href="#" data-reveal-id="myModal" data-animation="fade" class="date_button">  Arriving </a> </li>
  <li> <a href="#" data-reveal-id="myModal" data-animation="fade" class="date_button">  Leaving </a> </li>
 </ul> 
 <br></br>

<a href="#" data-reveal-id="myModal" data-animation="fade" class="reserve_button">  CHECK AVAILABILITY </a>




</div>
 
 
 
  <div class="gallery"> 
    <% for image in @trip.images %>	
	<%= link_to image_tag(image.image.url(:thumb)), image.image.url(:large), :title => image.title, :rel => "iframe" %>
	<% end %>   
  </div> 	
  

</div>

<br></br>

<div class="tripinfo">


<div class="more">

 <h3>What's More to Know:</h3> 
 
  
  <ul>
  <% @trip.details.each do |detail| %> 
  <li><%=detail.name %> </li>
  <% end %>
  </ul>

</div>



<div class="description">

<h3>Brief Description:</h3>
 
<p>
 
  <%= @trip.description %>
</p>	
	
</div>	
	

<h3>Pricing:</h3>
 
<div class="pricing">



<h4> ACCOMMODATION/PACKAGE </h4>
<table id="accomodation">

<tr>

<th>Type</th>
<th>Price</th>
</tr> 

<% for accomodation in @trip.accomodations %>
<tr>

<td> <b><%= accomodation.name %> </b> - <%= accomodation.description %> </td>
<td>   <i>  <%= accomodation.price1 %>  </br> <%= accomodation.price2 %> </br> <%= accomodation.price3 %> </td> </i>

</tr>

<% end %>
</table>


 
<h4> EXTRAS </h4>
<table id="extras">
<tr>
<th>Type</th>
<th>Price</th>
</tr>
<% for lesson in @trip.lessons %>
<tr>
<td> <%= lesson.name %> </td>
<td> <i> <%= lesson.description %> </i>  </td>
</tr>
<% end %>
</table>



</div>











<% if signed_in? %>

<%= link_to 'Edit', edit_trip_path(@trip) %>

<% end %>

<a href="#" data-reveal-id="myModal" data-animation="fade" class="book_button">  BOOK IT </a>


</div>


<div id="myModal" class="reveal-modal">
     
<h1> Hello! Thrill Engine is not fully ready yet. </h1>

<h3> Working hard to put all things together. So you could easily book some of the most uber fun vacations - <%= link_to "read the story here", about_path %>.
Sign up for an Invite and be one of the first to join. </h3>



<!-- Begin MailChimp Signup Form -->

 <div id="mc_embed_signup">
   
   <form action="http://thrillengine.us4.list-manage.com/subscribe/post?u=b00a6ce905026bcb1bfd68811&amp;id=ffa803ed98" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address here" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="listed"></div>  
   </form>
 </div>
  
<!--End mc_embed_signup-->

<br></br>



<h3> Meanwhile - you can still make the booking    

<%= link_to(@trip.url) do %>
  <strong>here</strong>   </h3>
<% end %> 



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
 
 <br></br> 

    <div style="float:left;width:10px;margin-left:0px; ">
       <%= link_to "Shop", "http://www.facebook.com/pages/Thrill-Engine/199223676806364?sk=app_149715688441437", :class => "shop" %>
       </div>   
       
    <div style="float:left;width:100px;margin-left:100px; ">
       <%= mail_to "feedback@thrillengine.com", "feedback@thrillengine.com" %>
     
    </div>
     
    <div style="float:left;width:100px; margin-left:70px;">
           <div class="fb-like" data-href="http://www.facebook.com/pages/Thrill-Engine/199223676806364" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div>
        
    </div>       
        
        <div style="float:left;width:100px;">
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         <a href="https://twitter.com/theThrillEngine" class="twitter-follow-button" data-show-count="false">Follow @theThrillEngine</a> 
          
        </div>  
        
    </ul>
 </div>
</div>

 










