<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @extra.name %>
</p>

<p>
  <b>Description:</b>
  <%= @extra.description %>
</p>

<p>
  <b>Price1:</b>
  <%= @extra.price1 %>
</p>

<p>
  <b>Price2:</b>
  <%= @extra.price2 %>
</p>

<p>
  <b>Price3:</b>
  <%= @extra.price3 %>
</p>

<p>
  <b>Price4:</b>
  <%= @extra.price4 %>
</p>

<p>
  <b>Price5:</b>
  <%= @extra.price5 %>
</p>


<%= link_to 'Edit', edit_extra_path(@extra) %> |
<%= link_to 'Back', extras_path %>
