<footer>
  
  <div class="container">
 <div class="footmid">
  
 <p>  Thrill Engine &copy; 2012 </p>
 
  
  <nav class="round">   
      <ul>
       <li> <%= link_to "Terms & Privacy", about_path %>  </li>
      <li> Get in touch:  </li>
      <li> <%= link_to "Facebook", 'http://www.facebook.com/pages/Thrill-Engine/199223676806364' %>  </li>
      
      <li> <%= link_to "Twitter", 'http://twitter.com/#!/theThrillEngine' %>  </li>
      <li> <%= link_to "Vimeo", 'https://vimeo.com/39621018' %>  </li>
      <li> <%= link_to "Tumblr", 'http://thrillengine.tumblr.com/' %>  </li>
      <li> <%= link_to "Pinterest", 'http://pinterest.com/thrillengine/life-s-better-when-you-do-epic-sh-t/' %>  </li>
      
    </ul>
  </nav>
 
 </div>
</div>
 
</footer>