<header>  
  <div class="container">
   
     <%= link_to logo, root_path %> 
    
   <nav class="round">
    <ul>      
      
      <li><%= link_to "About", about_path %>  </li>
      
      <li><%= link_to "Shop", "http://www.facebook.com/pages/Thrill-Engine/199223676806364?sk=app_149715688441437" %>  </li>
      
      <% if signed_in? %>
      <li><%= link_to "Profile", current_user %>  </li>
      <% end %>
     
      <% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %> </li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
  </div>



</header>