<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title%></title> 
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />

  <%= favicon_link_tag 'favicon.ico' %>    
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>  
  <%= javascript_include_tag 'jquery-1.4.4.min' %>
  <%= javascript_include_tag 'jquery.reveal' %>  
  <%= javascript_include_tag 'fancybox/jquery.fancybox-1.3.4.pack' %>
  <%= javascript_include_tag 'fancybox/jquery.easing-1.3.pack' %>
  <%= javascript_include_tag 'fancybox/jquery.mousewheel-3.0.4.pack' %>
  <%= javascript_include_tag 'jquery.nimble.loader' %>     
  <%= csrf_meta_tags %>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27211558-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



</head>
  <body>
  	
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>	
	
<div class="hellobar">

<div class="hellobarwrapper">
<!-- Begin MailChimp Signup Form -->

<p>Welcome to Thrill Engine's Prototype. Sign up for the News and Updates</p>
 <div id="mc_embed_signup">
   
   
   <form action="http://thrillengine.us4.list-manage.com/subscribe/post?u=b00a6ce905026bcb1bfd68811&amp;id=ffa803ed98" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address here" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="news" ></div>  
   </form>
 </div>
  
<!--End mc_embed_signup-->

<div style="top: -23px; left: 630px;"
<div class="fb-like" data-href="http://www.facebook.com/pages/Thrill-Engine/199223676806364" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false" data-font="verdana"></div>
</div>
</div>

</div>	
	
	<%= render 'layouts/header' %>
	<div class="container">      	  
	  <div class="content">  
		<%= yield %>
       </div> 
    </div>
	<%= render 'layouts/footer' %>
  </body>
</html>
